body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
}

main {
  padding-bottom: 2em;
}

/* Header */
.App-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

/* Party Buttons */
.party-buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

/* Home */
.home {
  margin-inline: auto;
  max-width: 80em;
}

.searchbar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.cocktail-showcase {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6em;
}

.pill {
  border-radius: 9999px;
  background-color: white;
  color: black;
  padding: 0.5em 1em;
}

/* Search Results */
.search-results {
  margin-inline: auto;
  max-width: 70em;
}

.search-results .searchbar-container {
  margin-bottom: 2em;
}

.search-results-view-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.search-results-view-toggle > *:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-results-view-toggle > *:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Cocktail Details */
.cocktail-details {
  display: grid;
  grid-template-areas:
    "picture other"
    "picture other"
    "picture other";
  grid-template-columns: max-content 30em;
  gap: 0 5em;
  justify-content: center;
  padding-top: 5em;
}

.cocktail-details > img {
  grid-area: picture;
  max-width: 30em;
}

.cocktail-details > .ingredients button {
  display: none;
}

.cocktail-details > .ingredients ul {
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  transform-origin: top;
}

.cocktail-details > .ingredients ul.hide {
  transform: scaleY(0);
}

/* Party Create */
.party-create {
  display: grid;
  margin: 0 2em;
  grid-template-areas:
    "roomdetails roomdetails"
    "ingredientlist cocktaillist";
  grid-template-columns: 20em 1fr;
  grid-template-rows: 3em 1fr;
}

.party-create .roomdetails-container {
  grid-area: roomdetails;
  display: flex;
  justify-content: space-between;
}

.party-create .roomdetails-container span {
  font-size: 1.5rem;
}

.party-create .ingredient-list-container {
  grid-area: ingredientlist;
}

.party-create .cocktail-list-container {
  grid-area: cocktaillist;
}

.ingredient-list {
  border: 1px solid gray;
  border-radius: 0.3em;
  padding: 1em;
}

.ingredient-list tr > td:first-child {
  padding-right: 2em;
}

.cocktail-list-container table {
  border: 1px solid gray;
  border-radius: 0.3em;
  padding: 1em;
  width: 100%;
}

.add-ingredient-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-ingredient-container {
  background-color: white;
  width: 60ch;
  border-radius: 0.5em;
  padding: 2em 2.5em;
}

.add-ingredient-container > h3 {
  margin: 0 0 1em 0;
}

.add-ingredient-container > input {
  font-size: 1rem;
  margin-right: 1em;
  padding: 0.5em 1em;
  width: 35ch;
}

.add-ingredient-container > button {
  font-size: 1rem;
  padding: 0.5em 1em;
  font-weight: bold;
  background-color: white;
  color: black;
  border: 0.2em solid black;
  border-radius: 0.3em;
}

.add-ingredient-container > button:hover {
  font-size: 1rem;
  padding: 0.5em 1em;
  background-color: black;
  color: white;
}
